.characterComponent {
  width: auto;
  height: auto;
}

.characterCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%;
  height: 100%;
  min-height: 500px;
  padding: 1rem;
  border: 3px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}

.characterCard h3 {
  color: #0f0f0f;
  margin: 0 0 1rem;
  font-size: 3rem;
  font-family: "Get Schwifty", cursive;
  text-shadow:
    2px 0 #f5f5f5,
    -2px 0 #f5f5f5,
    0 2px #f5f5f5,
    0 -2px #f5f5f5;
}

.characterCard p {
  width: 100%;
  color: #000;
  margin: 0.25rem 0;
  font-size: 1.5rem;
  line-height: 1.2;
  overflow-wrap: break-word;
  text-shadow:
    2px 0 #f5f5f5,
    -2px 0 #f5f5f5,
    0 2px #f5f5f5,
    0 -2px #f5f5f5;
}

.characterCard.alive {
  background-color: #006400;
}
.characterCard.dead {
  background-color: #800000;
}
.characterCard.unknown {
  background-color: #ffd700;
}

.characterCard img {
  border: 2px solid #333;
  width: 100%;
  max-width: 250px;
  margin-top: auto;
  border-radius: 8px;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Get Schwifty", cursive;
}

.button:hover {
  color: #333;
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .characterCard {
    width: 100%;
    min-height: 450px;
  }

  .characterCard h3 {
    font-size: 2.2rem;
  }

  .characterCard p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .characterCard {
    min-height: auto;
  }

  .characterCard h3 {
    font-size: 1.8rem;
  }

  .characterCard p {
    font-size: 1.1rem;
  }
}
